
<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>@ViewBag.Title - Charity Connections</title>-->
    <link runat="server" rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <link runat="server" rel=" icon" href="~/favicon.png" type="image/svg" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="~/Scripts/custom.js"></script> --> <!-- Use this script tag after moving the jQuery to separate file, keep  -->

    <script type="text/javascript">
        $(document).ready(function () {
            // TODO: move the jQuery to it's own document to clean up this page

            // Displays the volunteer category nav bar when hovering over "find volunteer opportunities"
            $("#findVolunteerBtn").mouseenter(function () {


                // This will keep second (find volunteer) nav at top of page when scrolling
                $("#volunteerBar").appendTo(".nav1").slideToggle("slow");
            })

            // Changes the picture (different color) when hovering over link
            $("#paw").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/paw.svg').replaceWith('<img src="../../Content/Images/pawColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/pawColor.svg').replaceWith('<img src="../../Content/Images/paw.svg">');
            })

            $("#book").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/book.svg').replaceWith('<img src="../../Content/Images/bookColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/bookColor.svg').replaceWith('<img src="../../Content/Images/book.svg">');
            })

            $("#health").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/healthBtn.svg').replaceWith('<img src="../../Content/Images/healthColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/healthColor.svg').replaceWith('<img src="../../Content/Images/health.svg">');
            })

            $("#people").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/people.svg').replaceWith('<img src="../../Content/Images/peopleColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/peopleColor.svg').replaceWith('<img src="../../Content/Images/people.svg">');
            })

            $("#tree").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/tree.svg').replaceWith('<img src="../../Content/Images/treeColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/treeColor.svg').replaceWith('<img src="../../Content/Images/tree.svg">');
            })

            $("#hands").mouseenter(function () {
                $(this).find('img').attr('src', '../../Content/Images/hands.svg').replaceWith('<img src="../../Content/Images/handsColor.svg">');
            }).mouseleave(function () {
                $(this).find('img').attr('src', '../../Content/Images/handsColor.svg').replaceWith('<img src="../../Content/Images/hands.svg">');
            })

        });
    </script>

    <!--TODO move to seperate CSS file-->
    <!-- changed the 'a' tag right padding so all the links fit in the header -->
    <style>

        body {
            background: #fffff0;
        }

        .navbar-custom {
            background-color: #fffff0 !important;
        }

        #volunteerBar {
            display: none;
        }

        a {
            padding-right: 20px;
        }

        a :hover {
            color: #FF6633;
        }

        #dropdownMenuButton{
            background:none;
        }

        .dropdown-menu{
            padding-left: 10px;
            padding-bottom: 5px;
        }
        dropdown-item{
            padding-bottom: 10px;
        }

        .row-bottom {
            padding-left: 10px;
        }

        .navbar[target] {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nav-item img {
            width: 50px;
        }

        .nav-item :hover {
            color: #FF6633;
        }

        .volunteer-category-bar {
            margin-left: 35px;
        }

        footer {
            background-color: #F63;
            opacity: 0.90;
            color: #FFFFFF;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 75px;
            text-align: center;
            font-size: 12px;
            padding-top: 12px;
            padding-bottom: 14px;
        }

        #footer-link :hover {
            color: #66ccff;
            text-decoration: none;
            font-size: 16px;
        }
    </style>

</head>
@{ 
    CC.Connections.BL.AbsCategoryList categoryList = new CC.Connections.BL.AbsCategoryList();
    categoryList.LoadAll();
}

<body>
    <!-- added a target for style so it doesn't affect the lower navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-fixed-top navbar-custom" target="_lessBottomPad">
        <div class="container">
            <div class="row nav1">
                <div class="navbar-header col-sm-3">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/Content/Images/ccweblogo.png" alt="Site Logo" style=" width:220px;" />
                        </a>
                    </div>


                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="padding:0.25rem 0.75rem; margin-left:2rem">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse col-sm-9" id="navbarColor03" target="_moreleftpadding">
                    <ul class="nav navbar-nav mr-auto row row-bottom">
                        <!-- row (row may not be needed depending on if we add the round links to this navbar or make another) row-bottom -->
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item" id="findVolunteerBtn">@Html.ActionLink("Find Volunteer Opportunities", "Index", "CharityEvent")</li>

                        <!--Profile Dropdown-->
                        <div class="nav-item dropdown">
                            <li class=" nav-item btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Session["member"] == null)
                                {
                                    <text>Sign In</text>
                                }
                                else
                                {
                                    <text>Profile</text>
                                }
                            </li>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                @if (Session["member"] == null)
                                {
                                    <li class="nav-item">@Html.ActionLink("Login", "LoginView", "Login")</li>
                                    <li class="nav-item">@Html.ActionLink("Sign Up", "SignupView", "Login")</li>
                                    <li class="nav-item">@Html.ActionLink("Charity Signup", "CharitySignupView", "Login")</li>

                                    if (Request.IsLocal)
                                    {
                                        <li class="dropdown-item">@Html.ActionLink("Autologin Volunteer", "AutoV_View", "Login")</li>
                                        <li class="dropdown-item">@Html.ActionLink("Autologin Charity", "AutoC_View", "Login")</li>
                                    }
                                }
                                else
                                {
                                    if (((CC.Connections.BL.Password)Session["member"]).MemberType == CC.Connections.BL.MemberType.VOLLUNTEER)
                                    {
                                        <li class="dropdown-item">@Html.ActionLink("My Account", "ProfileView", "VolunteerProfile")</li>
                                    }
                                    else
                                    {
                                        <li class="dropdown-item">@Html.ActionLink("My Account", "CharityView", "Charity")</li>
                                    }
                                    <li class="dropdown-item" id="btnLogout">@Html.ActionLink("Logout", "logoutView", "Login")</li>
                                }
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <nav class="navbar navbar-custom justify-content-center navbar-expand-lg navbar-light bg-light navbar-fixed-top" id="volunteerBar">
        <!-- Added in this hr line because appending the second nav caused a line to appear under it -->
        <hr />
        <div class="container">
            <!--#region Removed this div to remove hamburger menu button from the mobile view -->
            <!-- <div class="navbar-header"> -->
            <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!-- <span class="navbar-toggler-icon"></span> -->
            <!-- </button> -->
            <!-- @Html.ActionLink("Charity Connections", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            <!-- </div> -->
            <!--#endregion-->
            <div class="navbar-collapse " id="navbarColor03">
                <ul class="nav navbar-nav mr-auto row">
                    <li class="col-1">
                        @foreach (var category in categoryList)
                        {
                        <li class="nav-item overout col-1 volunteer-category-bar" id="@category.Category_Image.Trim()" title="@category.Category_Desc"><a href="@Url.Action("CategoryView","CharityEvent",new { id =category.ID})"><img src="@("Content/Images/" + category.Category_Image.Trim() + ".svg")" /></a></li>
                    }
                        <!--<li class="nav-item overout col-1 volunteer-category-bar" id="paw" title="Animals"><a href="@Url.Action("CategoryView","CharityEvent",new { id =1})"><img src="~/Content/Images/paw.svg" /></a></li>
        <li class="nav-item col-1 volunteer-category-bar" id="book" title="Education"><a class="nav-fill" href="@Url.Action("CategoryView","CharityEvent",new { id =2})"><img src="~/Content/Images/book.svg" /></a></li>
        <li class="nav-item col-1 volunteer-category-bar" id="health" title="Hospice"><a class="nav-fill" href="@Url.Action("CategoryView","CharityEvent",new { id =3})"><img src="~/Content/Images/health.svg" /></a></li>
        <li class="nav-item col-1 volunteer-category-bar" id="people" title=""><a class="nav-fill" href="@Url.Action("CategoryView","CharityEvent",new { id =4})"><img src="~/Content/Images/people.svg" /></a></li>
        <li class="nav-item col-1 volunteer-category-bar" id="tree" title="Environment"><a class="nav-fill" href="@Url.Action("CategoryView","CharityEvent",new { id =5})"><img src="~/Content/Images/tree.svg" /></a></li>
        <li class="nav-item col-1 volunteer-category-bar" id="hands" title="Community"><a class="nav-fill" href="@Url.Action("CategoryView","CharityEvent",new { id =6})"><img src="~/Content/Images/hands.svg" /></a></li>
            -->
                    </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer>

            <!-- Footer Elements -->
            <div class="container">
                <p>Disclaimer: We do not facilitate donations or transfer of funds through this website. You must contact independent charity group to donate. </p>
                <p>&copy; @DateTime.Now.Year - Charity Connections</p>
            </div>

            <!-- Copyright -->
            <!-- Call to action -->
            <!--   <ul class="list-unstyled list-inline text-center py-2">

            <!-- <li class="list-inline-item">
                <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
            </li>
                <li class="nav-item" id="footer-link">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item" id="footer-link">@Html.ActionLink("Find Volunteer Opportunities", "FindVolunteerOpportunities", "Home")</li>
                </ul>
               -->
            <!-- Call to action -->





        </footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
