@model CC.Connections.BL.Charity

@{
    ViewBag.Title = "CharityView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<style>
    a:hover {
        color: #FF6633;
        text-decoration: none;
    }
</style>
<h4>Profile</h4>


<table class="table table-user-information">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Model.Deductibility</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <td> Phone:</td>
            <td>@Model.Requirements</td>
        </tr>
        <tr>
            <td>Birthdate: </td>
            <td>@Model.DateOfBirth</td>
        </tr>

    </tbody>
</table>

<br />
<br />
<table>
    <tr>
        <td>
            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.contact_ID })
        </td>
        <td>
            @Html.ActionLink("Delete Profile", "Delete", new { id = Model.contact_ID })
        </td>
    </tr>
</table>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
