@model CC.Connections.BL.AbsContact
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<style>
    a:hover {
        color: #FF6633;
        text-decoration: none;
    }
</style>
<h2>@ViewBag.Message</h2>
<br />
<h4>Profile</h4>

<table class="table table-user-information">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.ContactInfo_Email</td>
        </tr>
        <tr>
            <td> Phone:</td>
            <td>@Model.ContactInfo_Phone</td>
        </tr>
        <tr>
            <td>Birth date: </td>
            <td>Model.DateOfBirth.Date</td>
        </tr>
            

    </tbody>
</table>

<br />
<br />
<table>
    <tr>
        <td>
            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.contact_ID })
        </td>
        <td>
            @Html.ActionLink("Delete Profile", "Delete", new { id = Model.contact_ID })
        </td>
    </tr>
</table>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
