@model Doorfail.Connections.BL.Volunteer
@{
    ViewBag.Title = "ProfileView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<style>
    a:hover {
        color: #FF6633;
        text-decoration: none;
    }
</style>
<h2>@ViewBag.Message</h2>
<br />
<h4>Profile</h4>

<table class="table table-user-information">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ContactInfo.FullName)</td>
            <td>@Html.DisplayFor(model => model.ContactInfo.FullName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ContactInfo.MemberEmail)</td>
            <td>@Html.DisplayFor(model => model.ContactInfo.MemberEmail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ContactInfo.Phone)</td>
            <td>@Html.DisplayFor(model => model.ContactInfo.Phone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ContactInfo.DateOfBirth)</td>
            <td>@Html.DisplayFor(model => model.ContactInfo.DateOfBirth)</td>
        </tr>
        <tr>
            <td><h4>Preferences</h4></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Pref.Distance)</td>
            <td>@Html.DisplayFor(model => model.Pref.Distance)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PreferedCategories)</td>
        </tr>
        <tr>
            @if (Model.PreferedCategories.ToList().Count != 0)
            {
                foreach (var item in Model.PreferedCategories)
                {
                    <td class="nav-item overout col-1 volunteer-category-bar" title="@item.Desc">
                        <a href="@Url.Action("CategoryView", "CharityEvent", new { id = item.ID })">
                            <img class="catImage" id="@(item.Image.Trim())" src="@("../../Content/Images/Category/Color/" + item.Image.Trim() + "Color.svg")" />
                        </a>
                    </td>
                }
            }
            else
            {
                <td>No preferences</td>

            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PreferedHelpingActions)</td>
        </tr>
        <tr>
            @if (Model.PreferedCategories.ToList().Count != 0)
            {
                foreach (var item in Model.PreferedHelpingActions)
                {
                    <td class="nav-item overout col-1 volunteer-category-bar" title="@item.Description">
                        <a href="@Url.Action("CategoryView", "CharityEvent", new { id = item.ID })">
                            <img class="catImage" id="@(item.category.Image.Trim())" src="@("../../Content/Images/Category/Color/" + item.category.Image.Trim() + "Color.svg")" />
                        </a>
                    </td>
                }
            }
            else
            {
                <td>No Actions</td>

            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PreferedCharities)</td>
        </tr>
        <tr>
            @if (Model.PreferedCategories.ToList().Count != 0)
            {
                foreach (var item in Model.PreferedCharities)
                {
                    <td class="nav-item overout col-1 volunteer-category-bar" title="@item.Name">
                        <a href="@Url.Action("Details", "Charity", new { id = item.Email.Replace('.','-') })">
                            <img class="col-2 " src="~/Content/Images/CCDefaultPlaceholder.gif" alt="@(item.Name) logo" title="View Charity">
                        </a>
                    </td>
                }
            }
            else
            {
                <td>No Prefered Charities</td>

            }
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <h5>Advanced</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Advanced</h5>
            </td>
        </tr>
    </tfoot>
</table>





<br />
<br />
<table>
    <tr>
        <td>
            @Html.ActionLink("My Events", "UserEventsView", "CharityEvent", new { id = Model.ContactInfo.MemberEmail })
        </td>
        <td>
            @Html.ActionLink("Add Prefered Charities", "UserCharitiesView", "Charity", new { id = Model.ContactInfo.MemberEmail })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.ContactInfo.MemberEmail })
        </td>
        <td>
            @Html.ActionLink("Delete Profile", "Delete", new { id = Model.ContactInfo.MemberEmail })
        </td>
    </tr>
</table>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
