@model CC.Connections.WebUI.Model.CharityEvent_with_Charity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h2>(Charity Logo) @Html.DisplayFor(model => model.CharityName)</h2>
    <hr />
    <h4> @Html.DisplayFor(model => model.CharityEventName)</h4>
    <h5>Days: @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString() </h5>
    <h5>Time: @Model.StartTime.ToShortTimeString() to @Model.EndTime.ToShortTimeString() </h5>
    <p> @Html.DisplayFor(model => model.Description)</p>
    <br />
    <p><b>Requirements: </b>@Model.CharityEventRequirements</p>

</div>
<h4>@ViewBag.Message</h4>
<p>

    @{ if (Model.Member_Attendance != null && Model.Member_Attendance.Status != null)
        {
            if (Model.Member_Attendance.Status == CC.Connections.BL.Status.GOING)
            {
                @Html.ActionLink("Show Interest", "Interested", new { id = Model.Event_ID });
                @Html.ActionLink("Leave Event", "Signup", new { id = Model.Event_ID });
            }
            else if (Model.Member_Attendance.Status == CC.Connections.BL.Status.INTERESTED)
            {
                @Html.ActionLink("Remove Interest", "Interested", new { id = Model.Event_ID });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID });
            }
            else
            {
                @Html.ActionLink("Interested", "Interested", new { id = Model.Event_ID });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID });
            }
        }
    }
    @Html.ActionLink("Back to List", "Index");

</p>
