@model CC.Connections.BL.CharityEvent

<br />

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Back to List", "Index", new { @class = "btn-outline-secondary" });
<br />

<div class="card">
    <div class="card-header row">
        <img class="col-2 " src="~/Content/Images/CCDefaultPlaceholder.gif" alt="empty space for logo"> @* height="90" width="90" *@
    <div class="col-8">
        <h2>@Html.DisplayFor(model => model.charity.CharityName)</h2>
        <h4>Going: @Model.atendees.CountGoing</h4>
        <h4>Interested: @Model.atendees.CountInterested</h4>
        <<h4><b>@Model.CharityEventStatus</b></h4>
    </div>
        <img class="btn-outline-info col-1" style="padding-top:0px;" src="@(("/Content/Images/" + Model.charity.Category.Category_Image.Trim() + ".svg"))" id="paw" title="@(Model.charity.Category.Category_Image) ">
    </div>
    <div class="card-body">
        <h4> @Html.DisplayFor(model => model.CharityEventName)</h4>
        @if (Model.CharityEventStatus != "Completed")
        {
            <h5>Days: @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString() </h5>
            <h5>Time: @Model.StartTime.ToShortTimeString() to @Model.EndTime.ToShortTimeString() </h5>
        }
        <p> @Html.DisplayFor(model => model.Description)</p>
    </div>
    <p class="card-footer"><b>Requirements: </b>@Model.CharityEventRequirements</p>

</div>
<h4>@ViewBag.Message</h4>
<div class="">

    @{ if (Model.Member_Attendance != null)
        {
            if (Model.Member_Attendance.Status == CC.Connections.BL.Status.GOING)
            {
                @Html.ActionLink("Show Interest", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
                @Html.ActionLink("Leave Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-info btn-lg" });
            }
            else if (Model.Member_Attendance.Status == CC.Connections.BL.Status.INTERESTED)
            {
                @Html.ActionLink("Remove Interest", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-info btn-lg" });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
            }
            else
            {
                @Html.ActionLink("Interested", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
            }
        }
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />