@model CC.Connections.BL.CharityEvent

<br />

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Back to List", "Index", new { @class = "btn-outline-secondary" });
<br />

<div class="card">
    <div class="card-header row">
        <a href="@Url.Action("Details", "Charity", new { id = Model.charity.ID })">
            <img class="col-2 " src="~/Content/Images/CCDefaultPlaceholder.gif" alt="@(Model.charity.CharityName) logo" title="View Charity"> @* scr="/Content/Images/" + Model.charity.Charity_Image + ".svg" *@
        </a>
        <div class="col-8">
            <h2>@Html.DisplayFor(model => model.charity.CharityName)</h2>
            <h4>Going: @Model.atendees.CountGoing</h4>
            <h4>Interested: @Model.atendees.CountInterested</h4>
            <h4><b>@Model.CharityEventStatus</b></h4>
        </div>
        <a href="@Url.Action("CategoryView", "CharityEvent", new { id = Model.charity.Category.ID })">
            <img class="btn-outline-info col-1" style="padding-top:0px;" src="@(("/Content/Images/" + Model.charity.Category.Category_Image + ".svg"))" id="@(Model.charity.Category.Category_Image)" title="@(Model.charity.Category.Category_Desc) ">
        </a>
    </div>
    <div class="card-body">
        <h4> @Html.DisplayFor(model => model.CharityEventName)</h4>
        @if (Model.CharityEventStatus != "Completed")
        {
            <h5>Days: @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString() </h5>
            <h5>Time: @Model.StartTime.ToShortTimeString() to @Model.EndTime.ToShortTimeString() </h5>
        }
        <p> @Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="card-footer">
        <p><b>Requirements: </b>@Model.CharityEventRequirements</p>
        <div>
            <h5>@Model.Location.ContactInfoAddress</h5>
            <h5>@Model.Location.ContactInfoCity</h5>
            <h5>@Model.Location.ContactInfoState</h5>
        </div>
    </div>

</div>
<h4>@ViewBag.Message</h4>
<div class="">

    @{ if (Session["member"] != null && ((CC.Connections.BL.Password)Session["member"]).MemberType == CC.Connections.BL.MemberType.VOLLUNTEER &&
              Model.Member_Attendance != null)
        {
            if (Model.Member_Attendance.Status == CC.Connections.BL.Status.GOING)
            {
                @Html.ActionLink("Show Interest", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
                @Html.ActionLink("Leave Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-info btn-lg" });
            }
            else if (Model.Member_Attendance.Status == CC.Connections.BL.Status.INTERESTED)
            {
                @Html.ActionLink("Remove Interest", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-info btn-lg" });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
            }
            else
            {
                @Html.ActionLink("Interested", "Interested", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
                @Html.ActionLink("Sign Up for Event", "Signup", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
            }
        }
        else if (Session["member"] == null || ((CC.Connections.BL.Password)Session["member"]).MemberType == CC.Connections.BL.MemberType.GUEST)
        {
            @Html.ActionLink("Create an account to sign up for an event", "SignupView", "login", new { @class = "btn-outline-primary btn-lg" });
        }
        else if (Session["member"] != null && ((CC.Connections.BL.Password)Session["member"]).MemberType == CC.Connections.BL.MemberType.CHARITY)
        {
            @Html.ActionLink("Edit event", "Edit", "CharityEvent", new { id = Model.Event_ID }, new { @class = "btn-outline-primary btn-lg" });
        }
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />