@model IEnumerable<Doorfail.Connections.BL.CharityEvent>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h2>@ViewBag.Title</h2>

@if (Session["member"] != null && ((Doorfail.Connections.BL.Password)Session["member"]).MemberType == Doorfail.Connections.BL.MemberType.CHARITY)
{
    <p>@Html.ActionLink("Create New Volunteer Opportunity", "Create",null, new { @class = "btn btn-outline-success" })</p>
}
@if (Model != null && Model.ToList().Count != 0)
{
    <table class="table">

        @foreach (var item in Model)
        {
        <tr>
            <!--<td class="card text-white border-info style="max-width: 70rem;">-->
            <td class="p-3 mb-2 bg-gradient-info text-black-50">
                <div class="card-header row ">
                    @if (item.Charity != null)
                    {
                        <a href="@Url.Action("Details", "Charity", new { id = item.Charity.Email.Replace('.', '-') })">
                            <img class="col-2 " src="~/Content/Images/CCDefaultPlaceholder.gif" alt="@item.Name" title="View Charity">
                        </a>
                        <div class="col-7">
                            <a class="" title="Details" href="@Url.Action("Details", "CharityEvent", new { id = item.ID })">
                                <h2 title="Event Details"> @item.Name</h2>
                            </a>
                            <h3>Hosted by: @item.Charity.Name</h3>
                            <h4>@item.CharityEventStatus</h4>
                            @if (item.CharityEventStatus != "Completed")
                            {
                                <h5>Days: @item.StartDate.ToShortDateString() to @item.EndDate.ToShortDateString() </h5>
                                <h5>Time: @item.StartTime.ToShortTimeString() to @item.EndTime.ToShortTimeString() </h5>
                            }
                        </div>
                        <div class="col-3">
                            <h6>Location</h6>
                            <div>
                                <p>@item.Location.Address</p>
                                <p>@item.Location.City</p>
                                <p>@item.Location.State</p>
                            </div>
                        </div>
                        <div class="col-1">
                            <a href="@Url.Action("CategoryView", "CharityEvent", new { id = item.Charity.Category.ID })">
                                <img style="padding-top:0px;" src="@(("/Content/Images/Category/Color/" + item.Charity.Category.Image.Trim() + "Color.svg"))" id="paw" title="@(item.Charity.Category.Desc) ">
                            </a>
                        </div>
                    }
                    else
                    {
                        <h2>Charity could not be found</h2>
                    }
                </div>
                <!--<div class="card-body">
            <p>item.Description</p>
        </div>-->
                <div class="card-footer row bg-info">
                    <div>
                        <h3>Going: @item.atendees.CountGoing</h3>
                        <h3>
                            Interested: @item.atendees.CountInterested
                        </h3>
                    </div>
                </div>
            </td>
            <td>
                @*{Html.RenderAction("SideView", "CharityEvent", new { id = item.ID });}*@
            </td>
            @if (Session["member"] != null && ((Doorfail.Connections.BL.Password)Session["member"]).email == item.Charity.Email)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID}, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            }
        </tr>
        }
    </table>
}
else
{
    <h4>No Events</h4>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

