@model CategoryModel

@{
    ViewBag.Title = "New Category";
}

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = true;
})

@Html.Partial("_Breadcrumb", "Add Category")

<section class="section pt-8 bg-light">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3">
                @Html.Partial("_LeftNav")
            </div>
            <div class="col-md-9">
                @*<h4 class="pb-2">Add Category <span class="fs-15">(@Html.ActionLink("Back to list", "CategoryList", "Manage"))</span></h4>
                <hr class="mb-6" />*@

                @Html.Partial("Category/_CreateOrUpdate", Model)
            </div>
        </div>
    </div>
</section>

@Html.Vertex().Footer()